[Unit]
Description=Web service for controlling lights via a raspberry pi.

[Service]
ExecStart=/usr/bin/node /usr/lib/node_modules/@jms777/light-controller/dist/index.js
Restart=always

[Install]
WantedBy=multi-user.target
