[Unit]
Description=Microservice for controlling WS2812B addressable LEDs via the light-controller service.

[Service]
ExecStart=/usr/bin/python3 /usr/lib/node_modules/@jms777/light-controller/microservices/ws2812b-controller.py
Restart=always

[Install]
WantedBy=multi-user.target